<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8 col-md-12">
                        <div class="left">
                            <!-- <img src="assets/img/job-details1.png" alt="Details"> -->
                            <h2>{{global_vars.viewing_job.job['Job_Title']}}</h2>
                            <ul>
                                <li><i class='bx bx-pie-chart-alt-2'></i> {{global_vars.viewing_job.job['Job_Category']}}</li>
                                <li><i class='bx bx-time'></i> Posted date: {{global_vars.viewing_job.job['Date_Posted']}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="right">
                            <a class="cmn-btn" [routerLink]="" *ngIf="global_vars.user_type == 'candidate' && global_vars.viewing_job.applied == false" (click)="apply_job()">Apply Now <!--<i class='bx bx-plus'></i>--></a>
                            <a class="cmn-btn" routerLink="/job-details" *ngIf="global_vars.user_type == 'candidate' && global_vars.viewing_job.applied == true" style="pointer-events: none; background-color: #aa4a55;">Applied <!--<i class='bx bx-plus'></i>--></a>
                            <ul>
                                <!-- <li><a routerLink="/job-details"><i class='bx bx-heart'></i> Save</a></li>
                                <li><a routerLink="/job-details"><i class='bx bx-share-alt'></i> Share</a></li>
                                <li><a routerLink="/job-details"><i class='bx bxs-report'></i> Report</a></li> -->
                                <!-- <li><button class="dashboard-btn">Edit</button></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Job Details -->
<div class="job-details-area ptb-100">
    <div class="container">
            <div class="row" *ngIf="global_vars.user_type == 'employer' && global_vars.employer_data['idemployer'] == global_vars.viewing_job.job['idemployer']">
                <div class="dashboard-area ptb-10">
                    <table>
                        <tr>
                          <th>
                            <div class="profile-content">
                                <button class="btn dashboard-btn" (click)="view_candidate_applications()">View Candidate Applications</button>
                            </div>
                          </th>
                          <th>
                            <div class="profile-content">
                                <button class="btn dashboard-btn" (click)="edit_job_posting()">Edit</button>
                            </div>
                          </th>
                          <th>
                            <div class="profile-content">
                                <button class="btn dashboard-btn" (click)="hide_job_posting()" *ngIf="job_posting_details['Hidden']=='No'">Hide</button>
                                <button class="btn dashboard-btn" (click)="unhide_job_posting()" *ngIf="job_posting_details['Hidden']=='Yes'">Unhide</button>
                            </div>
                          </th>
                          <th>
                            <div class="profile-content">
                                <button class="btn dashboard-btn" (click)="delete_job_posting()">Delete</button>
                                <!-- <i class="fa-light fa-trash" (click)="delete_job_posting()" (hover)="Delete"></i> -->
                            </div>
                          </th>
                        </tr>
                      </table>
                </div>
            </div>
        <br><br>
        <div class="row">

            <div class="col-lg-8 col-md-12">
                <div class="details-item">
                    <div class="details-inner">
                        <h3>Job Description</h3>
                        <p>{{global_vars.viewing_job.job['Job_Description']}}</p>
                    </div>

                    <div class="details-inner">
                        <h3>Our Company</h3>
                        <p>{{global_vars.viewing_job.organization['About']}}</p>
                    </div>

                    <!-- <div class="details-inner">
                        <h3>Previous Interview</h3>

                        <div class="job-details-slider owl-theme owl-carousel">
                            <div class="slider-item">
                                <img src="assets/img/job-details1.jpg" alt="Details">

                                <div class="video-wrap">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s" class="popup-youtube"><i class='bx bx-play'></i></a>
                                </div>
                            </div>

                            <div class="slider-item">
                                <img src="assets/img/job-details2.jpg" alt="Details">

                                <div class="video-wrap">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s" class="popup-youtube"><i class='bx bx-play'></i></a>
                                </div>
                            </div>

                            <div class="slider-item">
                                <img src="assets/img/job-details3.jpg" alt="Details">

                                <div class="video-wrap">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s" class="popup-youtube"><i class='bx bx-play'></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="details-inner">
                        <h3>Job Responsibilities</h3>

                        <ul>
                            <li *ngFor="let res of global_vars.viewing_job.job['Job_Responsibilities']">
                                <i class='bx bx-message-square-check'></i>
                                {{res}}
                            </li>
                            <!-- <li>
                                <i class='bx bx-message-square-check'></i>
                                They want to check if your job responsibilities overlap with the role on offer.
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                They want to put you at ease. Let’s face it. It’s an easy question.
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                They want you to expand on the points that you included in your resume.
                            </li>

                            <li>
                                <i class='bx bx-message-square-check'></i>
                                They want to put you at ease. Let’s face it. It’s an easy question.
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                They want to check if your job responsibilities overlap with the role on offer.
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                Want you to expand on the points that you included in your resume.
                            </li> -->
                        </ul>
                    </div>

                    <div class="details-inner">
                        <h3>Job Requirements</h3>
                        
                        <ul>
                            <li *ngFor="let req of global_vars.viewing_job.job['Job_Requirements']">
                                <i class='bx bx-message-square-check'></i>
                                {{req}}
                            </li>
                            <!-- <li>
                                <i class='bx bx-message-square-check'></i>
                                Enterprise and entrepreneurial skills
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                Negotiation and persuasion
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                Understand where the other person is coming from so that you can both get what
                            </li> -->
                        </ul>
                    </div>

                    <div class="details-inner">
                        <h3>Assessments Required</h3>
                        
                        <ul>
                            <li *ngFor="let assessment of global_vars.viewing_assessments_required">
                                <i class='bx bx-message-square-check'></i>
                                {{assessment}}
                            </li>
                            <!-- <li>
                                <i class='bx bx-message-square-check'></i>
                                Enterprise and entrepreneurial skills
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                Negotiation and persuasion
                            </li>
                            <li>
                                <i class='bx bx-message-square-check'></i>
                                Understand where the other person is coming from so that you can both get what
                            </li> -->
                        </ul>
                    </div>
                    
                    <!-- <div class="details-inner">
                        <h3>Our Mission</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div> -->
                    
                    <!-- <div class="details-inner">
                        <h3>Our Vision</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true.</p>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="widget-area">
                    <!-- <div class="job widget-item">
                        <h3>Find A Job</h3>

                        <form>
                            <label><i class="flaticon-send"></i></label>
                            <input type="text" class="form-control" placeholder="Email address">
                            <button type="submit" class="btn">Get Job Alert</button>
                        </form>
                    </div> -->

                    <div class="information widget-item">
                        <h3>Job Information</h3>

                        <ul>
                            <!-- <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Salary</h4>
                                <span>$1,500 - $2,000</span>
                            </li> -->
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Category</h4>
                                <span>{{global_vars.viewing_job.job['Job_Category']}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Location</h4>
                                <span>{{global_vars.viewing_job.job['Location']}}</span>
                            </li>
                            <!-- <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Offered Salary</h4>
                                <span>$2,000 - $2,500/month</span>
                            </li> -->
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Posted</h4>
                                <span>{{global_vars.viewing_job.job['Date_Posted']}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Experience</h4>
                                <span>{{global_vars.viewing_job.job['Job_Experience']}} Years</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Industry</h4>
                                <span>{{global_vars.viewing_job.job['Industry']}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Level</h4>
                                <span>{{global_vars.viewing_job.job['Job_Level']}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Type</h4>
                                <span>{{global_vars.viewing_job.job['Job_Type']}}</span>
                            </li>
                            <!-- <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Applied</h4>
                                <span>01</span>
                            </li> -->
                        </ul>
                    </div>

                    <div class="owner">
                        <div class="top">
                            <img height="70" width="70" style="border-radius: 50%;" [src]="global_vars.viewing_job.organization['employer_pic']" alt="Owner">
                            <h3>Owner Info</h3>
                            <span style="color:#221668">{{global_vars.viewing_job.organization['Organization_Name']}}</span>
                            <br>
                            <i class="flaticon-send"></i>
                            <span>{{global_vars.viewing_job.job['Location']}}</span>
                        </div>

                        <div class="information widget-item">
                            <ul>
                                <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Phone</h4>
                                    <a href="tel:+34561232349987">{{global_vars.viewing_job.job['Phone']}}</a>
                                </li>
                                <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Email</h4>
                                    <a href="mailto:hello@alzo.com">{{global_vars.viewing_job.job['Email']}}</a>
                                </li>
                                <!-- <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Location</h4>
                                    <a href="#" target="_blank">{{global_vars.viewing_job.job['Location']}}</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Job Details -->

<!-- Job -->
<!-- <div class="job-details-related pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Related Jobs</h2>
        </div>

        <div class="employer-item">
            <a routerLink="/job-details">
                <img src="assets/img/home-one/job1.png" alt="Employer">
                <h3>Product Designer</h3>
                <ul>
                    <li><i class="flaticon-send"></i> Los Angeles, CS, USA</li>
                    <li>5 months ago</li>
                </ul>
                <p>We are Looking for a skilled Ul/UX designer amet conscu adiing elitsed do eusmod tempor</p>
                <span class="span-one">Accounting</span>
                <span class="span-two">FULL TIME</span>
            </a>
        </div>

        <div class="employer-item">
            <a routerLink="/job-details">
                <img src="assets/img/home-one/job2.png" alt="Employer">
                <h3>Sr. Shopify Developer</h3>
                <ul>
                    <li><i class="flaticon-send"></i> Houston, TX, USA</li>
                    <li>4 months ago</li>
                </ul>
                <p>Responsible for managing skilled Ul/UX designer amet conscu adiing elitsed do eusmod</p>
                <span class="span-one">Accounting</span>
                <span class="span-two two">FULL TIME</span>
            </a>
        </div>

        <div class="employer-item">
            <a routerLink="/job-details">
                <img src="assets/img/home-one/job3.png" alt="Employer">
                <h3>Tax Manager</h3>
                <ul>
                    <li><i class="flaticon-send"></i>Ho Chi Minh City, Vietnam</li>
                    <li>6 months ago</li>
                </ul>
                <p>International collaborative a skilled Ul/UX designer amet conscu adiing elitsed do eusmod</p>
                <span class="span-one two">Broardcasting</span>
                <span class="span-two three">FREELANCER</span>
            </a>
        </div>
    </div>
</div> -->
<!-- End Job -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->